# ref: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

pdp/ @bdewilde @kaylawilding @Eyong20
zogotech/ @anzhely
modeling/ @bdewilde
# todo: target bias code => @Eyong20
