# The following are required in all environments
ENV="LOCAL"
# Generate the following using `openssl rand -hex 32`
SECRET_KEY = ""
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 120

# The following can be left empty for the LOCAL environment
DB_USER="user"
DB_PASS="foobar"
DB_NAME="table_names"
DB_PORT=3306
INSTANCE_HOST="xx.xx.xxx.x"
DB_CERT=""
DB_ROOT_CERT=""
DB_KEY=""

# The initial user credentials for DEV (facilitates development)
DEV_INIT_DB_PASSWORD="<PUT PASSWORD HERE>"
DEV_INIT_DB_USER="tester@datakind.org"

# GCP related keys. Retrieved for the service account with write access to GCS here: https://stackoverflow.com/questions/46287267/how-can-i-get-the-file-service-account-json-for-google-translate-api
GCP_REGION="us-east4"
# The service account email used by Databricks
GCP_SERVICE_ACCOUNT_EMAIL=""

# Frontend integration related vars. Can be left empty for LOCAL environment.
# These need to match the values set as env vars in the frontend binary.
# TODO: delete when we switch to API keys.
FE_USER=""
FE_HASHED_PASSWORD=""

# Databricks related environment variables.
CATALOG_NAME=""
DATABRICKS_WORKSPACE=""
DATABRICKS_HOST_URL=""
# The service account used to read GCP buckets from Databricks.
DATABRICKS_SERVICE_ACCOUNT_EMAIL=""

# Datakinders allowed to issue API key. This should be the MINIMUM set. Keep this group small. Pass as a comma separated string structured like so: "abc@dk.org,bcd@dk.org"
API_KEY_ISSUERS=""