institution_id = "INST_ID"
institution_name = "INST NAME"

student_id_col = "student_id"
target_col = "target"
split_col = "split"
sample_weight_col = "sample_weight"
student_group_cols = ["student_age", "race", "ethnicity", "gender", "first_gen"]
pred_col = "pred"
pred_prob_col = "pred_prob"
pos_label = true
random_state = 12345

[datasets.bronze]
raw_course = { file_path = "/Volumes/CATALOG/INST_ID_bronze/INST_ID_bronze_file_volume/FILE_NAME_COURSE.csv" }
raw_cohort = { file_path = "/Volumes/CATALOG/INST_ID_bronze/INST_ID_bronze_file_volume/FILE_NAME_COHORT.csv" }

[datasets.silver]
preprocessed = { table_path = "CATALOG.INST_ID_silver.DATASET_NAME_preprocessed" }
modeling = { table_path = "CATALOG.INST_ID_silver.DATASET_NAME_modeling" }

[datasets.gold]
advisor_output = { table_path = "CATALOG.INST_ID_gold.INST_ID_advisor_output" }

[model]
experiment_id = "EXPERIMENT_ID"
run_id = "RUN_ID"
framework = "sklearn"

[preprocessing]
splits = { train = 0.6, test = 0.2, validate = 0.2 }
sample_class_weight = "balanced"
# TODO: change to true if school wants otherwise
include_pre_cohort_courses = false

[preprocessing.features]
min_passing_grade = 1.0
min_num_credits_full_time = 12
course_level_pattern = '^(?:[A-Z_-]+)?(?P<course_level>\d)\d{2}(?:-?[A-Z\d]+)?$'
core_terms = ["FALL", "SPRING"]
key_course_subject_areas = []
key_course_ids = []

[preprocessing.selection]
student_criteria = { enrollment_type = "FIRST-TIME", credential_type_sought_year_1 = "ASSOCIATE'S DEGREE" }
# TODO: edit based on timelines for full-time vs. part-time students
intensity_time_limits = { FULL-TIME = [3.0, "year"], PART-TIME = [6.0, "year"] }

[preprocessing.checkpoint]
# TODO: select and edit option 1 if using a term-based checkpoint and remove option 2; select and edit option 2 if using a credits based checkpoint and remove option 1
# Option 1
name = "term 2 including only core terms"
type_ = "nth"
n = 1
term_is_core_col = "term_is_core"
exclude_non_core_terms = true

# Option 2
# name = "30_credits_earned"
# type_ = "first_at_num_credits_earned"
# min_num_credits = 30.0
# num_credits_col = "cumsum_num_credits_earned"

[preprocessing.target]
# TODO: edit based on target timeline for school
name = "graduation_150pct_time"
type_ = "graduation"
# TODO: edit based on timelines for full-time vs. part-time students
intensity_time_limits = { FULL-TIME = [3.0, "year"], PART-TIME = [6.0, "year"] }
# TODO: edit based on target for school, bachelors or associates 
years_to_degree_col = "first_year_to_associates_at_cohort_inst"
# TODO: edit based on number of terms in a year
num_terms_in_year = 4
max_term_rank = "infer"

[modeling.feature_selection]
incomplete_threshold = 0.5
low_variance_threshold = 0.0
collinear_threshold = 10.0
# force_include_cols = []

[modeling.training]
primary_metric = "log_loss"
timeout_minutes = 10
# exclude_frameworks = ["xgboost", "lightgbm"]
# exclude_cols = []

[modeling.evaluation]
topn_runs_included = 5

[inference]
num_top_features = 5
min_prob_pos_label = 0.5